{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="2F37D261D506735A29B007648A9D2F5A" />
    <meta name="google-site-verification" content="inUtDBJhcD2QR_DHOhSeVSKpckcSuA4mc3ydzkUC7Hc" />
    <meta name="description" content="Easily connect BBC iPlayer to your smart TV using the official bbc.com/tvcode link. Enter your TV code once and enjoy streaming instantly—no tech skills needed." />
    <meta name="keywords" content="bbc.com tvcode, link BBC iPlayer to TV, activate BBC iPlayer, enter BBC TV code, bbc.com/tvcode activation, connect TV to BBC iPlayer, BBC iPlayer pairing code" />
    <meta name="robots" content="index, follow" />
      {{ super() }}
{% endblock %}
